<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="./css/main.css">
    <%- alertMsg? `<script>alert("${alertMsg}")</script>` : '' %>
</head>
<body>
<div id="mainPage">
    <div id="mainBox">
        <h1><%= title %></h1>
        <% if (typeof action !== 'undefined') { %>
            <form id="mainInputForm" action="<%= action %>" method="<%= method %>">
                <% inputs.forEach(input => { %>
                    <div>
                        <label for="<%= input.name %>"><%= input.text %></label>
                        <input type="<%= input.type || 'text' %>" id="<%= input.name %>" name="<%= input.name %>" <%= input.required ? 'required' : '' %>>
                    </div>
                <% }); %>
                <div>
                    <% buttons.forEach(button => { %>
                        <<%= button.tagName %> <%= button.attr %> class="mainButton"><%= button.text %></<%= button.tagName %>>
                    <% }); %>
                </div>
            </form>
        <% } else { %>
            <div id="mainMenu">
                <% buttons.forEach(button => { %>
                    <<%= button.tagName %> <%= button.attr %> class="mainButton"><%= button.text %></<%= button.tagName %>>
                <% }); %>
            </div>
        <% } %>
    </div>
</div>
</body>
</html>
