<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/map.css">
    <link rel="stylesheet" href="./css/dragdrop.css">
    <script src="./js/map_Common.js"></script>
    <script src="./js/map_dragdrop.js"></script>
    <script src="./js/map_dragImage.js"></script>
    <script src="./js/map_Btn_addPicture.js"></script>
    <script src="./js/sendImageDataToServer.js"></script>
    <script src="./js/map_Btn_delPicture.js"></script>
</head>
<body>
<!--<button id="btn_addHotSpot">장소 추가</button>-->
<% if (spot_id.length > 0) { %>
<!--    <form id="form_delete" action="/mapDelete" method="post">-->
<!--        <input style="display: none" name="spotId" value="<%= spot_id[0] %>">-->
<!--        <button id="btn_delHotSpot">장소 삭제</button>-->
<!--    </form>-->

<!--    <form id="form_Update" action="/mapUpdate" method="post">-->
<!--        <input style="display: none" name="spotId" value="<%= spot_id[0] %>">-->
<!--        <input style="display: none" name="left" value="<%= pos_x[0]+10 %>">-->
<!--        <input style="display: none" name="top" value="<%= pos_y[0]+10 %>">-->
<!--        <button id="btn_UpdateHotSpot">위치변경</button>-->
<!--    </form>-->


    <a id="form_chatbot" href="/chatbot.html" target="_blank" >
<!--        <input style="display: none" name="spotId" value="<%= spot_id[0] %>">-->
<!--        <button  id=chat-bot class="bi bi-chat-text-fill"  type="submit">-->
            <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" fill="currentColor" class="bi bi-chat-text-fill" id=chat-bot  viewBox="0 0 16 16">
                <path d="M16 8c0 3.866-3.582 7-8 7a9 9 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7M4.5 5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z"/>
            </svg>
<!--                        <img src="../resources/images/chat-text-fill.svg" alt="Chatbot" width="20" height="20">-->
<!--        </button>-->
    </a>



        <% } else { %>
    <!-- spot_id 배열의 길이가 0보다 작거나 같은 경우 아무것도 표시하지 않음 -->
<% } %>
<!--지역에 따른-->
<div id="MapContainer" class="drop-area">
    <% for(let i = 0; i < srcPath.length; i++){ %>
        <div class="draggable" data-id="<%= spot_id[i]%>" style="top:<%= pos_y[i] %>vh;left:<%= pos_x[i] %>vw">
            <img src="<%= srcPath[i] %>" >
        </div>
    <% } %>
</div>

</body>

</html>