<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/map.css">
    <link rel="stylesheet" href="./css/dragdrop.css">
    <script src="./js/map_Common.js"></script>
    <script src="./js/map_dragdrop.js"></script>
    <script src="./js/map_dragImage.js"></script>
    <script src="./js/map_Btn_addPicture.js"></script>
    <script src="./js/sendImageDataToServer.js"></script>
    <script src="./js/map_Btn_delPicture.js"></script>
</head>
<body>
<button id="btn_addHotSpot">장소 추가</button>
<% if (spot_id.length > 0) { %>
    <form id="form_delete" action="/mapDelete" method="post">
        <input style="display: none" name="spotId" value="<%= spot_id[0] %>">
        <button id="btn_delHotSpot">장소 삭제</button>
    </form>
<% } else { %>
    <!-- spot_id 배열의 길이가 0보다 작거나 같은 경우 아무것도 표시하지 않음 -->
<% } %>
<!--지역에 따른-->
<div id="MapContainer" class="drop-area">
    <% for(let i = 0; i < srcPath.length; i++){ %>
        <div class="draggable" data-id="<%= spot_id[i]%>" style="top:<%= pos_y[i] %>vh;left:<%= pos_x[i] %>vw">
            <img src="<%= srcPath[i] %>" >
        </div>
    <% } %>
</div>

</body>

</html>